@tailwind base;
@tailwind components;
@tailwind utilities;
 


colorPrimaryGreen {
  color: #4CA650
}

colorPrimaryGreen:Hover {
  color: #3F8D3D
}

colorPrimaryBlue {
  color: #0A2E59
}

colorPrimaryBlue:Hover {
  color: #093263
}

colorSecondaryGreen {
  color: #77B800
}

colorSecondaryGreen:Hover {
  color: #6cae09
}

colorLime {
  color: #7ECA27
}

colorLime:Hover {
  color: #81ce0e
}



